version: '3'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: licitometro
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.0
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    restart: always

  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    
    depends_on:
      - db
      - elasticsearch
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/licitometro
      - ELASTICSEARCH_URL=http://elasticsearch:9200
    restart: always

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    
    depends_on:
      - backend
    restart: always

volumes:
  postgres_data:
  elasticsearch_data:
  storage_data:
